:root {
  --header-bgcolor: rgba(222, 222, 222, 0.5);
  --footer-bgcolor: white;
  --content-bgcolor: white;
  --header-text-color: #193251;
  --title-text-color: #193251;
  --name-color: #7589a2;
  --border-color: #e0e4e8;
  --button-color: #ff5a36;
  --footer-bgcolor: white;
}
