h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 0.8rem;
  color: var(--title-text-color);
  margin-bottom: 0.4rem;
}

h3 {
  font-size: 0.8rem;
}

h4 {
  font-size: 0.7rem;
}

p {
  font-size: 1rem;
  color: var(--name-color);
}
